In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
ratings_df = pd.read_csv('./ml-latest-small/ratings.csv')
movies_df = pd.read_csv('./ml-latest-small/movies.csv')

In [5]:
ratings_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [6]:
ratings_df.drop(columns='timestamp', inplace=True)

In [7]:
user_movie_df = pd.pivot(data=ratings_df, index='userId', columns='movieId', values='rating')
user_movie_df

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
user_movie_df.fillna(value=3, inplace=True)

In [9]:
user_movie_df

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,3.0,4.0,3.0,3.0,4.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
2,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
3,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
4,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
5,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,3.0,3.0,3.0,3.0,3.0,2.5,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
607,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
608,2.5,2.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
609,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
610,5.0,3.0,3.0,3.0,3.0,5.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0

In [10]:
scaled_df = user_movie_df / 5
scaled_df = pd.DataFrame(scaled_df)
scaled_df

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,0.8,0.6,0.8,0.6,0.6,0.8,0.6,0.6,0.6,0.6,...,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6
2,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,...,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6
3,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,...,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6
4,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,...,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6
5,0.8,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,...,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.5,0.6,0.6,0.6,0.6,0.6,0.5,0.6,0.6,0.6,...,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6
607,0.8,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,...,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6
608,0.5,0.4,0.4,0.6,0.6,0.6,0.6,0.6,0.6,0.8,...,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6
609,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.8,...,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6
610,1.0,0.6,0.6,0.6,0.6,1.0,0.6,0.6,0.6,0.6,...,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6

In [11]:
from sklearn.decomposition import NMF
model = NMF(n_components=60, max_iter= 312, init='random')

In [12]:
model.fit(scaled_df)

c:\Users\Chris\anaconda3\lib\site-packages\sklearn\decomposition\_nmf.py:1637: ConvergenceWarning: Maximum number of iterations 312 reached. Increase it to improve convergence.
  warnings.warn(

NMF(init='random', max_iter=312, n_components=60)

In [13]:

model.reconstruction_err_

51.398654037638885

In [14]:
q = model.components_
q.shape

(60, 9724)

In [15]:
p = model.transform(scaled_df)
p.shape

c:\Users\Chris\anaconda3\lib\site-packages\sklearn\decomposition\_nmf.py:1637: ConvergenceWarning: Maximum number of iterations 312 reached. Increase it to improve convergence.
  warnings.warn(

(610, 60)

In [16]:
r = pd.DataFrame(np.dot(p, q), index=user_movie_df.index, columns=user_movie_df.columns)
r

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,0.820170,0.687054,0.669638,0.602688,0.593683,0.708988,0.625457,0.608529,0.615252,0.651506,...,0.600857,0.599881,0.597577,0.601618,0.593315,0.602608,0.602102,0.599418,0.599899,0.598329
2,0.663355,0.620796,0.601505,0.601860,0.601470,0.578340,0.614355,0.606586,0.604732,0.629392,...,0.600757,0.597801,0.600235,0.597586,0.602692,0.599900,0.598802,0.599775,0.599534,0.603118
3,0.645232,0.609152,0.574270,0.604318,0.601440,0.578634,0.599341,0.608431,0.601357,0.647554,...,0.599772,0.600274,0.600487,0.595823,0.604337,0.598259,0.598335,0.600944,0.597691,0.602022
4,0.761783,0.595194,0.601067,0.606854,0.595275,0.650554,0.619883,0.588803,0.600310,0.594931,...,0.602368,0.596520,0.599986,0.596416,0.597430,0.602723,0.598871,0.599082,0.598387,0.600254
5,0.747480,0.656015,0.613691,0.599246,0.610018,0.622589,0.640251,0.607179,0.603352,0.624797,...,0.599994,0.597458,0.599914,0.595230,0.603520,0.597608,0.598141,0.598882,0.599854,0.603114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.526444,0.544145,0.591365,0.607165,0.599814,0.569819,0.499797,0.595817,0.594667,0.636287,...,0.597768,0.602117,0.598817,0.599381,0.599163,0.598824,0.599731,0.600600,0.597785,0.597953
607,0.772230,0.636382,0.643281,0.621195,0.594058,0.646042,0.610421,0.605106,0.606443,0.654128,...,0.601285,0.596195,0.597616,0.593861,0.604321,0.599576,0.595351,0.599204,0.597280,0.600824
608,0.493928,0.477963,0.397994,0.602066,0.588351,0.676490,0.573993,0.564948,0.578533,0.750813,...,0.598263,0.600118,0.599650,0.594148,0.601931,0.596660,0.600975,0.599905,0.599547,0.600181
609,0.692354,0.632641,0.604271,0.600777,0.602356,0.606380,0.626293,0.606690,0.607136,0.641735,...,0.600114,0.597914,0.599527,0.595970,0.603432,0.598385,0.597576,0.599372,0.598845,0.602280
610,0.943940,0.647190,0.616074,0.604394,0.621605,1.017977,0.624068,0.575876,0.610996,0.633275,...,0.592980,0.603068,0.597668,0.603997,0.600117,0.598382,0.598643,0.601006,0.596772,0.607844

In [17]:
n_users, n_movies = user_movie_df.shape
n_users, n_movies

(610, 9724)

In [18]:

def vote(movie_list, rating_list):
    n = 0
    arr = np.full(n_movies,3.0)
    
    for k in movie_list:
        arr[k] = rating_list[n]
        n += 1
    return arr

In [19]:
nu_arr = vote([1,3,5],[2,4,4.5])
nu_arr.shape

(9724,)

In [20]:
scaled_nuarr = nu_arr / 5

In [21]:
scaled_nuarr = scaled_nuarr.reshape(1,-1)
scaled_nuarr.shape

(1, 9724)

In [22]:
p_nu = model.transform(scaled_nuarr)

c:\Users\Chris\anaconda3\lib\site-packages\sklearn\decomposition\_nmf.py:1637: ConvergenceWarning: Maximum number of iterations 312 reached. Increase it to improve convergence.
  warnings.warn(

In [23]:
r_nu = pd.DataFrame(np.dot(p_nu, q))
r_nu = r_nu.transpose()
r_nu.sort_values(by=0, ascending=False, inplace=True)

In [24]:
r_nu.reset_index(inplace=True)
r_nu.rename(columns={'index':'mid'},inplace=True)

In [25]:
r_nu

       mid         0
0      520  0.687697
1     1938  0.676425
2        0  0.665092
3      895  0.664125
4     2370  0.659890
...    ...       ...
9719   928  0.558971
9720  1916  0.557825
9721   315  0.556540
9722   253  0.556290
9723   507  0.539524

[9724 rows x 2 columns]

In [26]:
[
    [movies_df.title[movies_df.index == 1],2],
    [movies_df.title[movies_df.index == 3],4],
    [movies_df.title[movies_df.index == 5],4.5],
    ]

[[1    Jumanji (1995)
  Name: title, dtype: object,
  2],
 [3    Waiting to Exhale (1995)
  Name: title, dtype: object,
  4],
 [5    Heat (1995)
  Name: title, dtype: object,
  4.5]]

In [27]:
[movies_df.title[r_nu['mid'][0]],
 movies_df.title[r_nu['mid'][1]],
 movies_df.title[r_nu['mid'][2]]]

['Fargo (1996)', 'Walk on the Moon, A (1999)', 'Toy Story (1995)']